<body data-smooth-scroll-offset="77">

<div class="nav-container">
</div>

<div class="main-container">
<section class="bg--secondary">
  <div class="container">
    <div class="row text-block">
      <div class="col-sm-12">
        <h3>All Posts</h3>
      </div>
    </div>
    <div class="row">
          <% @posts.each do |c| %>
          <div class="feature__body boxed boxed--border">
            <<span><b>Title: <span class="post-form"><%=c.title%></span><br></b></span>
            <span><b>Category: <%= c.categories_id %><br></b></span>
            <span><b>Agency: <%= c.agencies_id%><br></b></span>
            <span><b>Location: <%= c.location%></b></span>
            <span><b><br>Skills: <%= c.skills%></b></span>
            <span><b><br>Description: <%= c.description%></b></span>
            <span><b><br>Start Date: <%= c.start_date%></b></span>
            <span><b><br>End Date: <%= c.end_date%></b></span><br><br>

            <a href="#">
              Read More
            </a>
          </div>
            <%end%>
    </div>
  </div>
</section></div>

</body>
