<body data-smooth-scroll-offset="77">

<div class="nav-container">
</div>

<div class="main-container">
<section class="bg--secondary">
  <div class="container">
    <div class="row text-block">
      <div class="col-sm-12">
        <h3>All Posts</h3>
      </div>
    </div>
    <div class="row">
          <% @posts.each do |c| %>
          <div class="feature__body boxed boxed--border">
            <span><b>Title: <span class="post-form"><%=c.title%></span><br></b></span>
            <span><b>Category: <span class="post-form"><%= c.categories_id %></span><br></b></span>
            <span><b>Agency: <span class="post-form"><%= c.agencies_id%></span><br></b></span>
            <span><b>Location: <span class="post-form"><%= c.location%></span></b></span>
            <span><b><br>Skills: <span class="post-form"><%= c.skills%></span></b></span>
            <span><b><br>Description: <span class="post-form"><%= c.description%></span></b></span>
            <span><b><br>Start Date:<span class="post-form"> <%= c.start_date%></span></b></span>
            <span><b><br>End Date: <span class="post-form"><%= c.end_date%></span></b></span><br><br>

            <a href="#">
              Read More
            </a>
          </div>
            <%end%>
    </div>
  </div>
</section></div>

</body>
