<div class="container">

  <%= bootstrap_form_for @post do |f| %>
    <%= f.text_field :title %>
    <%= f.select :agency_id, Agency.all.map{ |f| [f.name, f.id]}, {:prompt => 'Select Agency'} %>
    <%= f.select :category_id, Category.all.map{ |f| [f.cat_name, f.id]}, {:prompt => 'Select Category'} %>
    <%= f.text_field :location %>
    <%= f.text_field :skills %>
    <%= f.text_field :description %>
    <%= f.date_field :start_date %>
    <%= f.date_field :end_date %>
    <%= f.submit class: "btn btn-primary btn-lg"%>
    <% end %>

</div>
