<body data-smooth-scroll-offset="77">

<div class="nav-container">
</div>

<div class="main-container">
<section class="bg--secondary">
  <div class="container">
    <div class="row text-block">
      <div class="col-sm-12">
        <h3><%= @post.title %></h3>
      </div>
    </div>
    <div class="row">

          <div class="feature__body boxed boxed--border">
            <span><b>Title:<span class="post-form"> <%= @post.title %></span><br></span>
            <span><b>Category:<span class="post-form"> <%= @post.categories_id %></span><br></b></span>
            <span><b>Agency:<span class="post-form"> <%= @post.agencies_id %></span><br></b></span>
            <span><b>Location:<span class="post-form"> <%= @post.location %></span><br></b></span>
            <span><b>Skills: <span class="post-form"><%= @post.skills %></span><br></b></span>
            <span><b>Description: <span class="post-form"><%= @post.description %></span><br></b></span>
            <span><b>Start Date:<span class="post-form"> <%= @post.start_date %></span><br></b></span>
            <span><b>End Date: <span class="post-form"><%= @post.end_date %></span><br></b></span><br>

            <a href="#">
              Contact Agency
            </a>
          </div>
    </div>
  </div>
</section></div>

</body>
